[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
pytest-stub = "*"

[packages]
djangorestframework = "*"

[requires]
python_version = "3.7"
